{{#each visual.tags as |tag|}}
  <span>{{tag}}</span>
{{/each}}
<div class="row">
  <div class="aspect-ratio aspect-ratio-21-9 col-xs-12">
    <div class="visual-content">
      {{yield}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1 class="visual-name">{{visual.name}}</h1>
    <p>{{visual.description}}</p>
  </div>
  <div class="col-sm-6">
    <h2>Variations</h2>
    {{#each visual.variations as |visual|}}
      <div class="col-xs-6">
        {{block-thumb visual=visual}}
      </div>
    {{/each}}
  </div>
</div>
