
<!--

  # Composibility Principle

  - Components yields decorateable selections

  # Visualizable Data Types

  - Dimensional
  - Graphical
  - Geospatial

  # Scales

  Scales are mostly used by dimensional visuals

  - ordinal
  - linear
  - quantile
  - quantize
  - time
  - power
  - log

-->

<ul>
  <li>Grouped: {{isGrouped}}</li>
  <li>Stacked: {{isStacked}}</li>
  <li>Waterfall: {{isWaterfall}}</li>
</ul>

{{#data-visual as |svg width height|}}
  {{#cart-grouped-bars select=(d3-transition svg.chart) model=dim width=width height=height
        margin="10 10 20 60" stroke=(color-scale "category10")
      as |selection x-scale y-scale width height|}}

    {{cart-axis select=(d3-transition svg.chart.x-axis) orient="bottom" tickSize=height scale=x-scale}}
    {{cart-axis select=(d3-transition svg.chart.y-axis) orient="left" tickSize=width scale=y-scale}}

  {{/cart-grouped-bars}}
{{/data-visual}}

<button {{action generate}}>Generate</button>

<!--
{{#data-visual as |svg width height|}}
  {{#if isGrouped}}
    {{#cart-split-visual}}
      {{cart-grouped-bars}}
    {{/cart-split-visual}}
  {{else}}
    {{#cart-split-visual}}
      {{cart-lines}}
    {{/cart-split-visual}}
  {{/if}}
{{/data-visual}}
{{#cart-split-visual
      width=width height=height
      model=dim
      data=data series=series key=key
    as |top bottom shared|}}

  {{cart-bars select=svg.top}}

  {{cart-axis source=top.y-scale}}
  {{cart-axis source=bottom.y-scale}}

{{/cart-split-visual}}
-->
