
<button class="data-control" {{action "reorder"}}>Reorder</button>

{{#data-visual as |svg width height|}}
  {{#if isGrouped}}
    {{#cart-grouped-bars select=(transition svg.chart) model=dim width=width height=height
          margin="10 60 20 10" stroke=(color-scale "category10")
        as |selection x-scale y-scale width height|}}

      {{cart-axis select=(transition svg.chart.x-axis) scale=x-scale
        orient="bottom" tickSize=(negative height)
      }}
      {{cart-axis select=(transition svg.chart.y-axis) scale=y-scale
        orient="right" tickSize=(negative width)
        transform=(translate width)
      }}

    {{/cart-grouped-bars}}
  {{else if isStacked}}
    {{#cart-stacked-bars select=(transition svg.chart) model=dim width=width height=height
          margin="10 60 20 10" stroke=(color-scale "category10")
        as |selection x-scale y-scale width height|}}

      {{cart-axis select=(transition svg.chart.x-axis) scale=x-scale
        orient="bottom" tickSize=(negative height)
      }}
      {{cart-axis select=(transition svg.chart.y-axis) scale=y-scale
        orient="right" tickSize=(negative width)
        transform=(translate width)
      }}

    {{/cart-stacked-bars}}
  {{/if}}
{{/data-visual}}
