
<ul>
  <li>Grouped: {{isGrouped}}</li>
  <li>Stacked: {{isStacked}}</li>
  <li>Waterfall: {{isWaterfall}}</li>
</ul>

{{#data-visual as |svg width height|}}
  {{#cart-grouped-bars select=(transition svg.chart) model=dim width=width height=height
        margin="10 10 20 60" stroke=(color-scale "category10")
      as |selection x-scale y-scale width height|}}

    {{cart-axis select=(transition svg.chart.x-axis) orient="bottom" tickSize=(negative height) scale=x-scale}}
    {{cart-axis select=(transition svg.chart.y-axis) orient="left" tickSize=(negative width) scale=y-scale}}

  {{/cart-grouped-bars}}
{{/data-visual}}
